@import "normalize.css";
@import "~bootstrap/scss/bootstrap";

body {

    .pre-wrap {
        white-space: pre-wrap;
    }

    .navbar {
        
        .nav-link {
            cursor: pointer;

            &.account-link {
                padding: 0;

                .navbar-profile-picture {
                    height: 40px;
                }
            }
        }

        .navbar-profile-picture {
            border-radius: 50%;
        }
    }

    .display-contents {
        display: contents;
    }

    .display-inline {
        display: inline;
    }

    .display-inline-flex {
        display: inline-flex;
    }

    .display-grid {
        display: grid;
    }

    .guest-page {
        background-image: url("../img/crowd.webp");
        background-repeat: no-repeat;
        background-size: cover;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;

        .login-and-registration-forms {
            grid-area: 1 / 1 / 2 / 2;
            position: relative;

            .card {
                position: absolute;
                width: 70%;
                left: 15%;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }

        .guest-page-teaser {
            grid-area: 1 / 2 / 2 / 4;
            background-color: rgba(68, 68, 68, 0.5);
            position: relative;

            .teaser-text {
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                left: 50%;
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
    }

    .website-content {
        .main-content {
            padding: 50px;

            .event-teaser-card {
                display: inline-block;
                background-color: white;
                transition: .5s;

                &:hover {
                    background-color: lightgray;
                    transition: .5s;
                    cursor: pointer;
                }

                .card-text-headline {
                    font-weight: bold;
                    font-size: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                            line-clamp: 1; 
                    -webkit-box-orient: vertical;
                }
            }
        }
    }

    .user-container {
        display: flex; 
        flex-direction: row; 
        align-items: center;
    }

    .main-post-content {
        border: 1px solid black;
        border-radius: 15px;
        padding: 15px;

        .time-foot-note {
            margin-bottom: 0;
            font-size: 10px;
        }
    }

    .small-flyer-overflow {
        height: 125px;
        overflow: hidden;
    }

    .flyer-overflow {
        height: 200px;
        overflow: hidden;
    }

    .big-flyer-overflow {
        height: 400px;
        overflow: hidden;
    }

    .profile-picture {
        height: 200px;
    }

    .small-profile-picture {
        height: 50px;
        border-radius: 50%;
    }

    .image-modal {
        .modal-dialog {
            display: table;

            .modal-content{
                width: fit-content;
                
                .full-size-image {
                    height: 90vh;
                }
            }
        }
    }
}